<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>LiveVibe</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="/css_template/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center bg-dark px-lg-5">
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-sm bg-dark p-0">
                <ul class="navbar-nav ml-n2">
                    <li class="nav-item border-right border-secondary">
                        <a class="nav-link text-body small" href="#">Mostar 2025</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 text-right d-none d-md-block">
            <nav class="navbar navbar-expand-sm bg-dark p-0">
                <ul class="navbar-nav ml-auto mr-n2">
                    <li class="nav-item"><a class="nav-link text-body" href="#"><small class="fab fa-twitter"></small></a></li>
                    <li class="nav-item"><a class="nav-link text-body" href="#"><small class="fab fa-facebook-f"></small></a></li>
                    <li class="nav-item"><a class="nav-link text-body" href="#"><small class="fab fa-linkedin-in"></small></a></li>
                    <li class="nav-item"><a class="nav-link text-body" href="#"><small class="fab fa-instagram"></small></a></li>
                    <li class="nav-item"><a class="nav-link text-body" href="#"><small class="fab fa-youtube"></small></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row align-items-center bg-white py-3 px-lg-5">
        <div class="col-lg-6">
            <h1 class="m-0 display-4 text-uppercase text-primary">Live<span class="text-secondary font-weight-normal">Vibe</span></h1>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <span class="mr-3" th:if="${#authentication}" th:text="'Prijavljeni ste kao: ' + ${#authentication.name}"></span>
            <a href="/logout" class="btn btn-dark">Odjava</a>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3">
            <div class="navbar-nav mr-auto py-0">
                <a href="#" class="nav-item nav-link active">Naslovna</a>
                <a href="/mojikoncerti" class="nav-item nav-link">Moji koncerti</a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->

<!-- Main News Slider Start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 px-0">
            <div class="owl-carousel main-carousel position-relative">
                <div class="position-relative overflow-hidden" style="height: 500px;">
                    <img class="img-fluid h-100"
                         src="https://i.ytimg.com/vi/4rgSzQwe5DQ/hq720.jpg"
                         alt="">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">LiveVibe</a>
                            <a class="text-white" href="">Mostar 2025</a>
                        </div>
                        <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="">Ulaznice za više od 1000 koncerata godišnje</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 px-0">
            <div class="row mx-0">
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100"
                             src="https://n1info.ba/wp-content/uploads/2024/12/17/1734425745-sarajevo-nova-godina-i-nakon-1024x576.png"
                             style="object-fit: cover;" alt="">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">AKTUELNO</a>
                                <a class="text-white" href=""><small>SIJEČANJ</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100"
                             src="https://media.urbanmagazin.ba/2024/11/3-34.jpg"
                             style="object-fit: cover;" alt="">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">AKTUELNO</a>
                                <a class="text-white" href=""><small>TRAVANJ</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100"
                             src="https://cdn.entr.io/images/events/216/21653_poster_900x1200.png?v=1731399750g"
                             style="object-fit: cover;" alt="">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">AKTUELNO</a>
                                <a class="text-white" href=""><small>SRPANJ</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="position-relative overflow-hidden" style="height: 250px;">
                        <img class="img-fluid w-100 h-100"
                             src="https://nps.ba/assets/photos/performance/medium/1709647106-koncert-za-obrazovanje-gradi-bih.jpg?v1716289205"
                             style="object-fit: cover;" alt="">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" href="">AKTUELNO</a>
                                <a class="text-white" href=""><small>SRPANJ</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main News Slider End -->

<div class="container py-5">
    <div class="row">
        <div th:each="concert : ${concerts}" class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img th:src="${concert.imageUrl}" class="card-img-top" alt="Concert Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${concert.artist}"></h5>
                    <p class="card-text">
                        Lokacija: <span th:text="${concert.venue}"></span>, <span th:text="${concert.city}"></span>
                    </p>
                    <p class="card-text">Datum: <span th:text="${concert.date}"></span></p>
                    <p class="card-text">Dostupno ulaznica: <span th:text="${concert.availableTickets}"></span></p>
                    <p class="card-text">Cijena: <span th:text="${concert.ticketPrice + ' €'}"></span></p>
                    <form th:action="@{/concert/kupi/{id}(id=${concert.id})}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-primary">Kupi ulaznicu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div class="container-fluid bg-dark pt-3 px-sm-3 px-md-5 mt-5">
    <div class="row py-2">
        <div class="col-lg-3 col-md-6 mb-3">
            <h5 class="mb-3 text-white text-uppercase font-weight-bold">Kontakt</h5>
            <p class="font-weight-medium"><i class="fa fa-map-marker-alt mr-2"></i>123 Mostar</p>
            <p class="font-weight-medium"><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
            <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>info@livevibe.com</p>
            <h6 class="mt-3 mb-2 text-white text-uppercase font-weight-bold">Zapratite nas</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3">
            <h5 class="mb-3 text-white text-uppercase font-weight-bold">Nadolazeći Koncerti</h5>
            <div class="mb-2">
                <div class="mb-1">
                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Rock</a>
                    <a class="text-body" href=""><small>Feb 10, 2025</small></a>
                </div>
                <a class="small text-body text-uppercase font-weight-medium" href="">Lipsum Concert: Rock Night at the
                    Arena</a>
            </div>
            <div class="mb-2">
                <div class="mb-1">
                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Pop</a>
                    <a class="text-body" href=""><small>Mar 20, 2025</small></a>
                </div>
                <a class="small text-body text-uppercase font-weight-medium" href="">Pop Hits Tour 2025 - Live in
                    Concert</a>
            </div>
            <div class="mb-2">
                <div class="mb-1">
                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Electronic</a>
                    <a class="text-body" href=""><small>Apr 5, 2025</small></a>
                </div>
                <a class="small text-body text-uppercase font-weight-medium" href="">DJ Night: Electronic Dance
                    Party</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3">
            <h5 class="mb-3 text-white text-uppercase font-weight-bold">Vrste Koncerata</h5>
            <div class="m-n1">
                <a href="" class="btn btn-sm btn-secondary m-1">Rock</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Pop</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Jazz</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Hip Hop</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Electronic</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Classical</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Indie</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Folk</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Punk</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Reggae</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Blues</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Alternative</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3">
            <h5 class="mb-3 text-white text-uppercase font-weight-bold">Galerija Koncerata</h5>
            <div class="row">
                <div class="col-4 mb-2">
                    <a href="#"><img class="w-100"
                                     src="https://images.unsplash.com/photo-1470229538611-16ba8c7ffbd7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D"
                                     alt="Concert 1"></a>
                </div>
                <div class="col-4 mb-2">
                    <a href="#"><img class="w-100"
                                     src="https://images.unsplash.com/photo-1459163418568-d166586364de?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D"
                                     alt="Concert 2"></a>
                </div>
                <div class="col-4 mb-2">
                    <a href="#"><img class="w-100"
                                     src="https://images.unsplash.com/photo-1520242739010-44e95bde329e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D"
                                     alt="Concert 3"></a>
                </div>
                <div class="col-4 mb-2">
                    <a href="#"><img class="w-100"
                                     src="https://images.unsplash.com/photo-1519736927049-de9d69a15bb3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D"
                                     alt="Concert 4"></a>
                </div>
                <div class="col-4 mb-2">
                    <a href="#"><img class="w-100"
                                     src="https://plus.unsplash.com/premium_photo-1682595143526-061978d507cf?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fHw%3D"
                                     alt="Concert 5"></a>
                </div>
                <div class="col-4 mb-2">
                    <a href="#"><img class="w-100"
                                     src="https://images.unsplash.com/photo-1578736641330-3155e606cd40?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHx8"
                                     alt="Concert 6"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-3 px-sm-3 px-md-5" style="background: #111111;">
    <p class="m-0 text-center">&copy; <a href="#"> LiveVibe</a>. Kristina Đukić</p>
</div>
<!-- Footer End -->
<script th:inline="javascript">

    let successMessage = /*[[${successMessage}]]*/ null;
    let errorMessage = /*[[${errorMessage}]]*/ null;
    let infoMessage = /*[[${infoMessage}]]*/ null;

    if (successMessage) {
        Swal.fire({
            icon: 'success',
            title: 'Uspješno!',
            text: successMessage,
            confirmButtonText: 'U redu'
        });
    }

    if (errorMessage) {
        Swal.fire({
            icon: 'error',
            title: 'Greška!',
            text: errorMessage,
            confirmButtonText: 'U redu'
        });
    }

    if (infoMessage) {
        Swal.fire({
            icon: 'info',
            title: 'Informacija',
            text: infoMessage,
            confirmButtonText: 'U redu'
        });
    }
    /*]]>*/
</script>


</body>
</html>
