<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registracija</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
<section>
  <form id="signup-form">
    <h1>Registracija</h1>
    <div class="inputbox">
      <ion-icon name="person-outline"></ion-icon>
      <input type="text" id="username" name="username" required>
      <label for="username">Ime</label>
    </div>
    <div class="inputbox">
      <ion-icon name="mail-outline"></ion-icon>
      <input type="email" id="email" name="email" required>
      <label for="email">Email</label>
    </div>
    <div class="inputbox">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="password" id="password" name="password" required>
      <label for="password">Lozinka</label>
    </div>
    <div class="inputbox">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="password" id="passwordcon" name="passwordcon" required>
      <label for="passwordcon">Potvrdi lozinku</label>
    </div>
    <button id="submit" type="button">Registracija</button>
    <div class="register">
      <p>Imate račun? <a href="/login">Prijava</a></p>
    </div>
  </form>
</section>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const submitButton = document.getElementById("submit");

  submitButton.addEventListener('click', () => {
    const username = document.getElementById('username').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('passwordcon').value;

    if (password === confirmPassword) {
      const data = { username, email, password };

      fetch('/auth/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
              .then(response => {
                if (response.ok) {
                  Swal.fire({
                    icon: 'success',
                    title: 'Registracija uspješna!',
                    text: 'Možete se sada prijaviti.',
                    confirmButtonText: 'U redu'
                  }).then(() => {
                    window.location.href = '/login';
                  });
                } else {
                  Swal.fire({
                    icon: 'error',
                    title: 'Greška',
                    text: 'Registracija nije uspjela. Provjerite podatke i pokušajte ponovno.',
                    confirmButtonText: 'U redu'
                  });
                }
              })
              .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                  icon: 'error',
                  title: 'Greška',
                  text: 'Došlo je do greške. Pokušajte ponovno.',
                  confirmButtonText: 'U redu'
                });
              });
    } else {
      Swal.fire({
        icon: 'warning',
        title: 'Lozinke se ne podudaraju',
        text: 'Pokušajte ponovno.',
        confirmButtonText: 'U redu'
      });
    }
  });
</script>

</html>
